.popup__container {
    width: 100%;
    max-width: 430px;
    max-height: 330px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    padding-top: 34px;
}

@media screen and (max-width: 550px) {
    .popup__container {
        width: 282px;
        padding-top: 25px;
    }
}