.button__like{
    background: url(../../../images/Vector.svg);
    background-repeat: no-repeat;
    color: #000000;
    width: 22px;
    border: none;
    padding: 0;
    background-position: center;
    
}
.button__like:hover{
    opacity: 0.5;
}
.button__like-active{
    background: url(../../../images/hartactive.svg);
    background-position: center;
}
