.image {
    max-width: 816px;
    max-height: 540px;
}

@media screen and (max-width: 850px) {
    .image {
        max-width: 540px;
    }
}

@media screen and (max-width: 650px) {
    .image {
        max-width: 440px;
    }
}

@media screen and (max-width: 450px) {
    .image {
        max-width: 340px;
    }
}

@media screen and (max-width: 350px) {
    .image {
        max-width: 240px;
    }
}