.element {
  background-color: #ffffff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
}
@media screen and (max-width: 900px) {
  .element {
    justify-self: center;
    
    }
  }
@media screen and (max-width: 720px) {
.element {
    width: 382px;
    height: 461px;  
  }
}
@media screen and (max-width: 550px) {
.element {
  width: 282px;
  height: 361px;
              
  }
}
    